body,p,div,a,span,h1,h2,h3,h4{
    font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
}
body{
    background-color: #ffffff;
}

body a{
   color: #ffffff;
}

body a:hover{
   color: #ffffff;
}
.container{
   top: 75px;
   position:relative; 
}

.btn:hover{
   color: #fff;
}

.buttonRow{
   margin-top: 80px;
}

.checkbox{
    color: #ffffff;
}

.header-strip{
    background:#5e5e5e;
    height:10px;
    display: none;
}
.header-back{
    background-color:transparent;
    height:85px;
}
.header-text{
    background:transparent;
    color: #000000;
    font-size:13px;
    text-align:center;
}
.header-text strong{
    color:#000000;
    font-size:14px;
}
.logo{
    /*background:transparent url(../images/Agave-Platform.png) no-repeat center top;*/
    display:block;
    cursor:pointer;
    margin: 0 auto;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    position: relative;
    text-align: center;
}
.logo img{
    height: auto;
    margin: 0 auto;
}
.login-header h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.content-section{
    text-align:center;
    padding:10px 0 0 0;
}
.content-section form.well{
    text-align:left;}

.statement{
   margin: 40px auto;
}

.btn-block{
 background-color: #F19E1F;
}

.login-header{
    text-align: center;
}

.form-horizontal{
    background-color: #004471;
    padding: 30px;
}
.form-horizontal .control-label{
    width:80px;
    display:none;
}
.form-horizontal .form-actions{
    padding-left:100px;
    padding-bottom:0;
    margin-bottom:0;
}

.checkbox{
    margin-left: 15px;}

.help-block{
    color: #ffffff;
}

.help-block a:active{
    color: #ffffff;;
}

.help-block a:visited{
    color: #ffffff;
}

.different-login-container{
    background:#F5F5F5;
    padding:10px;
   -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.help-link{
   text-align: center;
}

.vertical-slitter{
    border-right:solid 1px #fff;
}
.form-actions{
    border-top:none;
    background:transparent;
}
.btn-primary.active
{
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	  
background: #004471; /* Old browsers */
}

.btn-primary-deny{
  background: #525A68;
  color: #ffffff;

}
/* MEDIA QUERIES */

@media (min-width: @screen-sm-min) {

 .help-block{
    margin-left: 0px;
  }

 }
